.bai1{
    width: 100%;
    height: 500px;
    background: rgb(211,248,210);
background: linear-gradient(90deg, rgba(211,248,210,1) 0%, rgba(7,93,101,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bai1-container{
    width: 400px;
    height: fit-content;
  background: rgb(240,255,240);
background: radial-gradient(circle, rgba(240,255,240,1) 0%, rgba(3,121,131,1) 100%);
  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    border-radius: 10px;
}
.bai1-form i {
    position: absolute;
}
.bai1-form >i{
    padding: 17px;
    min-width: 40px;
}
.bai1-input{
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.bai1-2button{
    padding: 10px;
    background-color: white;
    margin: 10px;
}
.bai1-button{
margin: 10px;
}
.bai2{
    width: 100%;
    height: fit-content;
    background: rgb(240,255,240);
background: radial-gradient(circle, rgba(240,255,240,1) 0%, rgba(3,69,131,1) 100%);
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row ;
}
.hours{
    font-size: 250px;
}
.bai3-form{
    display: flex;
    flex-direction: column;
    width: 25%;
}
.danh-gia{
    margin: 20p;
}
.line{
    width: 25%;
    height: 2px;
    background: rgb(171,237,255);
background: linear-gradient(90deg, rgba(171,237,255,1) 0%, rgba(3,17,131,1) 100%);
}
.comment-section{
    margin: 10px;
}